# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# PyInstaller build
dist/
build/
*.spec

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Logs
*.log

# thumbnail cache
.thumbnails/

#tar.gz
*.tar.gz